.card{
	padding: 2rem 2rem;

	/* width: 400px; */
	min-height: 100%;

	border: rgba(99, 99, 99, 0.2) solid 1px;
	border-radius: var(--border-radius-card);

	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product__article{
	display: flex;
	flex-direction: column;
	/* gap: var(--margin-cards); */
}

.product__img{
	width: 100%;
}

.product__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: var(--margin-cards);
}

.product__h2{
	font-size: var(--font-text);
	display: block;
	font-weight: 400;

}

.product__discount{
	display: flex;
	align-items: center;
	gap: var(--margin-cards);
}

.product__p{
	font-size: var(--font-text);
	font-weight: 300;
}

.product__p--discount{
	position: relative;
	font-size: 1.2rem;
	text-decoration: line-through;
}

.product__p--discount span{
	text-decoration: none;
	color: red;
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: rotate(380deg);
}