.card{
	padding: 2rem 2rem;

	/* width: 400px; */
	min-height: 100%;

	border: rgba(99, 99, 99, 0.2) solid 1px;
	border-radius: var(--border-radius-card);

	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product__img{
	width: 100%;
}

.product__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: var(--margin-cards);
}