.product{
	padding: 2rem 2rem;

	/* width: 400px; */
	min-height: 100%;

	border: black solid 1px;
	border-radius: var(--border-radius-card);

}

.product__img{
	width: 100%;
}

.product__container{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
}