.header{
	padding: 1rem 1.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-secondary);
	color: var(--color-primary);
}
.header__users{
	display: flex;
	gap: var(--margin-cards);
}

.header__users--bold{
	font-weight: bold;
}