

:root {
  font-family: 'Montserrat';
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --margin-section: 4rem;
  --border-radius-card: 16px;
  --border-radius-button: 5px;
}


.home{
  display: flex;
  flex-direction: column;
  align-items: center;
}