

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-secondary);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --margin-section: 4rem;
  --margin-cards: 1rem;
  --border-radius-card: 16px;
  --border-radius-button: 5px;
  --color-primary: #fffffe;
  --color-secondary: #131313;
  --color-tertiary: #e7e7e7;
  --font-text: 1.5rem;
}
